1. fixed sized array

In [1]:
arr = [0] * 5


print(arr)

[0, 0, 0, 0, 0]

2. Dynamic array

In [2]:
arr = []
print(arr)

[]

Creating list in the python

1. using square bracket

In [3]:
a = [1,2,3,4] #list of the integrer
b= ['apple', 'ball', 'cat'] # list of the string
c= [1,'hello', '3.14',True] # list of the mixed

print(a)
print(b)
print(c)

[1, 2, 3, 4]
['apple', 'ball', 'cat']
[1, 'hello', '3.14', True]

2. using a list construtuor

In [5]:
 a = list((1,2,'banana',4.5))
 print(a)
 b = list("abc")
 print(b)

[1, 2, 'banana', 4.5]
['a', 'b', 'c']

3. creating a list with repeating element

In [6]:
a = [2] * 4
print(a)

[2, 2, 2, 2]